h1 {
  font-size: 80px;
}

.header-color {
  background-color: #438eb9;
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.footer-font{
  text-decoration: none;
  color:gray;
  font-size: 12px;
  font-family: 微软雅黑, serif;
}