<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./../common/header.ejs %>
</head>
<body>
<h1><%= title %></h1>
<a href="/users/new" class="btn btn-success">添加用户</a>
<ul id="users">
    <% if (users.length) { %>
        <% users.forEach(function(user){ %>
        <li><%= user.username %></li>
        <% }) %>
    <% } %>
</ul>
</body>
</html>
