<!-- 顶部导航 -->
<nav class="navbar navbar-default header-color">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小莫博客后台管理系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right;">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">欢迎光临,admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">设置</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
<!-- 左侧导航 -->
        <div class="col-md-2">
            <ul class="nav nav-list">
                <li class="list-group-item"><a [routerLink]="['/']">后台首页<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/admin']">权限管理 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/blog']">博客管理 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/user']">用户管理 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/tag']">标签管理 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/changeLog']">更新日志 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/goodBlog']">优秀博客 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/goodPlugin']">优秀插件 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/friendLink']">友情链接 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="list-group-item"><a [routerLink]="['/systemSet']">系统设置 <i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
        </div>
        <!-- 右侧内容 -->
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- 尾部 -->
<div class="container">
    <footer class="info">
        <p>copyright 2016 <a href="https://github.com/qq83387856">{{ author }} all rights reversed</a></p>
    </footer>
</div>